@font-face {
  font-family: Gothic;
  src: url("../../../public/fonts/serif-gothic.otf") format("opentype");
}

@font-face {
  font-family: Proxima;
  src: url("../../../public/fonts/proxima.otf") format("opentype");
}

@font-face {
  font-family: Aurubesh;
  src: url("../../../public/fonts/aurek.ttf");
}
