html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../../../public/images/background.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  font-family: "Proxima", sans-serif;
  color: var(--paragraph);
  min-height: 100vh;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: var(--paragraph)
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--button);
    border: 3px solid var(--button);
  }
}

h1,
h2,
h3,
h4 {
  font-family: "Gothic", serif;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.25em;
}
h3 {
  font-size: 1.75em;
}
h4 {
  font-size: 1.125em;
}
p {
  font-size: 1em;
}
